.newsBlock {
    padding:10px;
    width:100%;
    height:auto;
    border:dashed 1px black;margin-top:10px;
    background-color:#eeeeee;
}
.newsBlock:hover {
    background-color:#ffffff;
}

th {
    background-color: #dddddd;
}
.vl {
    border-left: 1px solid #aaaaaa;
    height: 40px;
  }

.lastline {
    background: #dddddd;
}
.center {
    text-align: left;
    font-size:22pt;
    width:100%;
    border: dashed 1px black;
}
.LeagueTableTitle {
    background-color:black;
    color: white;
    font-size:22pt;
    text-align:center;
    padding-top:5px;
    padding-bottom: 5px;
}
.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card {
    flex: 0 1 24%;
    border: .1rem solid #d6d6d6;
    border-radius: .3rem;
    -webkit-box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 10%);
    box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 10%);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .05rem;
    margin: 0 auto 2rem;
    min-width: 350px;
    max-width: 350px;
    cursor:hand;
}
.card:hover {
    border-color: black;
    border-width: 2px;
}
.playerpic {
    width:350px;
    height:350px;
}
.playerName {
    font-size: 36;
    font-weight: bold;
    margin:20;
}
.recenttitle {
    padding-left:0px;
    padding-top:5px;
    padding-bottom: 5px;
    font-weight:bold;
}
.logo {
    width:200; 
    height: 200;
}

body {
    font-family: 'Open Sans';
    font-size:20px;
    padding:0;
    margin:0;
}

.matchDate {
    font-size:10pt;font-weight: bold;font-style:italic;
}
.matchTitle {
    font-size:17pt;
}
.header {
    background:black;
    height:140;
    width:100%;
    margin:0px;
    vertical-align: top;
}

.titletext {
    font-size:64;
    vertical-align:20px;
}

.card3 {
    flex: 0 1 24%;
    border: .1rem solid #d6d6d6;
    border-radius: .3rem;
    -webkit-box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 10%);
    box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 10%);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .05rem;
    margin: 0 auto 2rem;
    width:95%;
}
