.newsBlock {
    padding:10px;
    width:600;
    height:auto;
    border:dashed 1px black;margin-top:10px;
    background-color:#eeeeee;
}
.newsBlock:hover {
    background-color:#ffffff;
}

.wikitable {
    border-width: 1px;
    border-color: #888888;
    border-style: dashed;
    width:1000px;
    font-size:11pt;
}
th {
    background-color: #dddddd;
}
.vl {
    border-left: 1px solid #aaaaaa;
    height: 40px;
  }

.lastline {
    background: #dddddd;
}
.center {
    text-align: left;
    font-size:12pt;
    width:100%;
    border: dashed 1px black;
}
.LeagueTableTitle {
    background-color:black;
    color: white;
    font-size:13pt;
    text-align:center;
    padding:5px;
}
.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card {
    flex: 0 1 24%;
    border: .1rem solid #d6d6d6;
    border-radius: .3rem;
    -webkit-box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 10%);
    box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 10%);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .05rem;
    margin: 0 auto 2rem;
    min-width: 350px;
    max-width: 350px;
    cursor:hand;
}
.card:hover {
    border-color: black;
    border-width: 2px;
}
.playerpic {
    width:350px;
    height:350px;
}
.playerName {
    font-size: 20pt;
    font-weight: bold;
}
.recenttitle {
    padding-left:0px;
    padding-top:5px;
    padding-bottom: 5px;
    font-weight:bold;
}
.logo {
    width:70; 
    height: 70;
}
.recentgames {
    font-size: 9.5pt;
}
body {
    font-family: 'Open Sans';
    font-size:16px;
    padding:0;
    margin:0;
}

p {
    font-size: 11pt;
    margin-left: 0.4cm;
    margin-top: 0.2cm;
    margin-bottom:0.2cm;
}
.flag {
    border: 1px solid #333333;
    height: 20px;
    width: 30px;
    vertical-align: text-bottom;
}

.header {
    background:black;
    height:70px;
    width:100%;
    margin:0px;
    vertical-align: top;
}
.filterBlock {
    background:black;
    height:70px;
    width:100%;
    margin:0px;
    vertical-align: top;
    display:inline;
}
.titletext {
    font-size:18pt;
    vertical-align:20px;
}
.segmented .label {
    background-color: #eee;
    
    border: 1px #ccc;
    border-style: solid none solid solid;
    color: #777;
    cursor: pointer;
    float: left;
    padding: 5px;
    text-align: center;
    width: 60px;
}

.L {
    border:solid 1px black;margin:1px;width:20px;height:20px;background-color:#ffaaaa;float:right;text-align:center;font-size:11px;
}
.T {
    border:solid 1px black;margin:1px;width:20px;height:20px;background-color:#ffffaa;float:right;text-align:center;font-size:11px;
}
.W {
    border:solid 1px black;margin:1px;width:20px;height:20px;background-color:#aaffaa;float:right;text-align:center;font-size:11px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .card {
        flex: 0 1 24%;
        border: .05rem solid #e6e6e6;
        border-radius: .4rem;
        -webkit-box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 10%);
        box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 10%);
        font-size: 20px;
        font-weight: 500;
        letter-spacing: .05rem;
        margin: 0 auto 2rem;
        min-width: 675px;
        max-width: 675px;
        margin-bottom: 50px;
        
    }
    .card .playerpic {
        width:650px;
        height:650px;
        margin-left:15px;
        margin-top:20px;
    }
    .card .playerName {
        font-size: 36pt;
        font-weight: bold;
    }

    .card .recentgames {
        font-size: 18pt;
    }
    .card td {
        font-size: 24pt;
    }
    .card p {
        font-size: 18pt;
        margin-left: 0.4cm;
        margin-top: 0.2cm;
        margin-bottom:0.2cm;
    }
    .card .flag {
        border: 1px solid #333333;
        height: 28px;
        width: 40px;
        vertical-align: text-bottom;
    }

    .header {
        background:black;
        height:140px;
        width:100%;
        margin:0px;
        vertical-align: top;
    }
    .filterBlock {
        background:black;
        height:80px;
        width:100%;
        margin:0px;
        display:block;
    }
    .titletext {
        font-size:44pt;
        vertical-align:30px;
    }
    .logo {
        width:140; 
        height: 140;
    }
    .recenttitle {
        padding-left:0px;
        padding-top:25px;
        padding-bottom: 15px;
        font-weight:bold;
    }
    .segmented .label {
        background-color: #eee;
        
        border: 2px #ccc;
        border-style: solid none solid solid;
        color: #777;
        float: left;
        padding: 15px;
        text-align: center;
        width: 120px;
    }
}

.card2 {
    flex: 0 1 24%;
    border: .05rem solid #e6e6e6;
    border-radius: .3rem;
    -webkit-box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 10%);
    box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 10%);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .05rem;
    margin: 0 auto 1rem;
    min-width: 600px;
    max-width: 600px;
    padding:10px;
    align-items: center;
}
.card3 {
    flex: 0 1 24%;
    border: .1rem solid #d6d6d6;
    border-radius: .3rem;
    -webkit-box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 10%);
    box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 10%);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .05rem;
    margin: 0 auto 2rem;
    min-width: 350px;
    max-width: 350px;
}
.card4 {
    border: .05rem solid #e6e6e6;
    border-radius: .3rem;
    -webkit-box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 10%);
    box-shadow: 0 0.3rem 0.4rem rgb(0 0 0 / 10%);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .05rem;
    padding:10px;
    width:995;
    margin:15 auto;
}

.league {
    background: black;
    color: #cccccc;
}

.segmented {
    display: inline-block;
    vertical-align: top;
    margin-top:0px;
    margin-left:7px;
}

.segmented :first-child .label {
    border-radius: 0px 0 0 0px;
}
.segmented :last-child .label {
    border-radius: 0 0px 0px 0;
    border-right-style: solid;
}
.segmented input {
    display: none;
}
.segmented input:checked + .label {
    background-color: #aaaaaa;
    color: #fff;
}

.segmented input:checked + span {
    background-color: #999999;
}
